{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block admin_content %}
{% include "admin/dashboardPage/loader.html" %}
<div class="mx-auto px-4 sm:px-6 lg:px-8 py-6">
  {% include "admin/dashboardPage/header.html" %}
  {% include "admin/dashboardPage/seller_filter.html" %}
  {% include "admin/dashboardPage/overview_cards.html" %}
  {% include "admin/dashboardPage/charts_section.html" %}
  {% include "admin/dashboardPage/sales_table.html" %}
</div>
{% endblock %}

{% block js %}
<script src="../../../static/js/dashboard.js"></script>
{% endblock %}