{% block content %}
<div
  class="w-full px-3 lg:px-9 py-4 flex justify-between items-center bg-white shadow-sm border-b border-gray-100 z-20"
>
  <div class="flex items-center gap-3">
    <!-- Hamburger Icon -->
    <button
      id="hamburgerIcon"
      class="text-gray-600 hover:text-gray-900 focus:outline-none"
    >
      <span class="material-symbols-outlined text-2xl">menu</span>
    </button>

    <!-- Logo -->
    <div class="flex items-center space-x-4">
      <img
        src="{{ url_for('static', filename='images/mainLogo.png') }}"
        alt="Logo"
        class="hidden md:block h-8 w-auto"
      />
      <img
        src="{{ url_for('static', filename='images/mainBackground.png') }}"
        alt="Mobile Logo"
        class="md:hidden h-8 w-auto"
      />
    </div>
  </div>

  <!-- User Profile -->
  <div class="flex items-center space-x-6 text-gray-600">
    <i
      class="bi bi-bell text-lg cursor-pointer hover:text-indigo-500 transition"
    ></i>

    <div class="relative" id="profileDropdown">
      <div
        class="flex items-center space-x-2 cursor-pointer"
        onclick="toggleDropdown()"
      >
        {% if g.current_user is defined and g.current_user.profile_pic %}
        <img
          src="{{ g.current_user.profile_pic }}"
          alt="Profile Picture"
          class="w-8 h-8 rounded-full"
        />
        {% else %}
        <i class="bi bi-person-circle text-2xl"></i>
        {% endif %}
        <div class="hidden md:flex flex-col">
          <span class="text-sm font-medium text-gray-800"
            >{{ g.current_user.email }}</span
          >
          <span class="text-xs text-gray-500"
            >{{ g.current_user.role.name }}</span
          >
        </div>
      </div>

      <div
        id="dropdownMenu"
        class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-50 hidden border border-gray-100"
      >
        <a
          href="/profile"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md flex items-center gap-2"
        >
          <i class="bi bi-person text-gray-500"></i>
          <span>Profile</span>
        </a>
        <button
          onclick="handleLogout()"
          class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md flex items-center gap-2"
        >
          <i class="bi bi-box-arrow-right text-gray-500"></i>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}