html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.min-h-screen {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.rotate-180 {
  transform: rotate(180deg);
}
.submenu-icon {
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover .nav-icon {
  stroke: white;
}

.nav-link:hover .nav-icon path {
  stroke: white;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cdcdcd;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.skeleton {
  @apply animate-pulse bg-gray-200 rounded-md;
}

select {
  font-size: 14px !important;
  height: 46px !important;
}

input {
  height: 46px !important;
}
#quill-editor {
  min-height: 150px;
  border: 1px solid #ccc;
}
.ql-toolbar.ql-snow {
  border-radius: 6px 6px 0 0;
}
.ql-container.ql-snow {
  border-radius: 0 0 6px 6px;
}

input::placeholder {
  font-size: 13px !important;
}
#mainContent.md\:ml-0 {
  width: 100%;
  max-width: 100%;
}


.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}